# python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# venv
.venv/
env/
venv/

# logs & cache
*.log
*.sqlite3
*.db
*.pid
*.cache
*.pycache/

# dotenv
.env

# compiled
*.egg
*.egg-info/
dist/
build/
.eggs/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# your app data
/uploads/
chroma_db/
